.para-0 {
  margin-right: 0px;
  background: black;
  color: #4d4d4d; }

.para-1 {
  margin-right: 20px;
  background: #141414;
  color: #616161; }

.para-2 {
  margin-right: 40px;
  background: #3c3c3c;
  color: #898989; }

.para-3 {
  margin-right: 60px;
  background: #787878;
  color: #c5c5c5; }

.para-4 {
  margin-right: 80px;
  background: #c8c8c8;
  color: #7c7c7c; }
